<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="amazon Automation Test Suite" verbose = "5">
	  <listeners>
		 <listener class-name="amazon.extend.report.TestListener"/> 	 
	  </listeners>
      <test name="amazon Test Cases">
   <!--  <parameter name = "URL" value="sssss"/> 
   <parameter name = "client" value="sssss"/> 
   <parameter name = "user" value="sssss"/> 
   <parameter name = "pass" value="sssss"/>  -->
    <classes>
      <class name="com.smarttech.AmazonLogin"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
